DIV.main {
	MARGIN-LEFT: 20pt; MARGIN-RIGHT: 20pt
}
A:link {
	COLOR: #8000ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #b700b7; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
A.menu:link {
	FONT: bold 14px verdana,tahoma; COLOR: black; TEXT-DECORATION: none
}
A.menu:visited {
	FONT: bold 14px verdana,tahoma; COLOR: black; TEXT-DECORATION: none
}
A.menu:hover {
	FONT: bold 14px verdana,tahoma; COLOR: black; TEXT-DECORATION: underline
}
A.top:link {
	FONT: bold 10px verdana,tahoma,arial; COLOR: #eff7fb; TEXT-DECORATION: none
}
A.top:visited {
	FONT: bold 10px verdana,tahoma,arial; COLOR: #eff7fb; TEXT-DECORATION: none
}
A.top:hover {
	FONT: bold 10px verdana,tahoma,arial; COLOR: black; BACKGROUND-COLOR: #eff7fb; TEXT-DECORATION: none
}
.fine {
	FONT: 11px tahoma,verdana,arial
}
.fine1 {
	FONT: 12px tahoma,verdana,arial
}
.boldfine {
	FONT: bold 11px tahoma,verdana,arial
}
.uber {
	FONT: bold 12px arial,tahoma,verdana
}
.emanual {
	FONT: 12px tahoma,verdana,arial
}
.uber_t {
	FONT: 12px tahoma,verdana,arial
}
A.ind:link {
	FONT: bold 12px arial,verdana,tahoma; COLOR: #8000ff; TEXT-DECORATION: underline
}
A.ind:visited {
	FONT: bold 12px arial,verdana,tahoma; COLOR: #b700b7; TEXT-DECORATION: underline
}
A.ind:hover {
	FONT: bold 12px arial,verdana,tahoma; COLOR: gold; TEXT-DECORATION: underline
}
A.inds:link {
	FONT: 11px arial,verdana,tahoma; COLOR: #8000ff; TEXT-DECORATION: underline
}
A.inds:visited {
	FONT: 11px arial,verdana,tahoma; COLOR: #b700b7; TEXT-DECORATION: underline
}
A.inds:hover {
	FONT: 11px arial,verdana,tahoma; COLOR: #0080ff; TEXT-DECORATION: underline
}
A.inds1:link {
	FONT: 12px arial,verdana,tahoma; COLOR: #8000ff; TEXT-DECORATION: underline
}
A.inds1:visited {
	FONT: 12px arial,verdana,tahoma; COLOR: #b700b7; TEXT-DECORATION: underline
}
A.inds1:hover {
	FONT: 12px arial,verdana,tahoma; COLOR: #0080ff; TEXT-DECORATION: underline
}
A.y1:link {
	FONT: bold 25px arial,verdana,tahoma; COLOR: #8000ff; TEXT-DECORATION: underline
}
A.y1:visited {
	FONT: bold 25px arial,verdana,tahoma; COLOR: #8000ff; TEXT-DECORATION: underline
}
A.y1:hover {
	FONT: bold 25px arial,verdana,tahoma; COLOR: gold; TEXT-DECORATION: underline
}
A.y:link {
	COLOR: #8000ff; TEXT-DECORATION: none
}
A.y:visited {
	COLOR: #b700b7; TEXT-DECORATION: none
}
A.y:hover {
	COLOR: black; TEXT-DECORATION: underline
}
HR {
	COLOR: #d3edf6
}
.uber2 {
	FONT: bold 18px verdana,tahoma,arial
}
.dima {
	FONT: bold 18px verdana,tahoma,arial
}
UNKNOWN {
	FONT: 11px tahoma,verdana,arial; COLOR: blue; TEXT-DECORATION: none
}
A.lfine:visited {
	FONT: 11px tahoma,verdana,arial; COLOR: #0000cc; TEXT-DECORATION: none
}
A.lfine:hover {
	FONT: 11px tahoma,verdana,arial; COLOR: black; TEXT-DECORATION: underline
}
A.smallu:link {
	COLOR: blue; TEXT-DECORATION: underline
}
A.smallu:visited {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
A.smallu:hover {
	COLOR: black; TEXT-DECORATION: underline
}
A.boldsmall:link {
	FONT: bold 10px verdana,tahoma,arial; COLOR: blue; TEXT-DECORATION: none
}
A.boldsmall:visited {
	FONT: bold 10px verdana,tahoma,arial; COLOR: #0000cc; TEXT-DECORATION: none
}
A.boldsmall:hover {
	FONT: bold 10px verdana,tahoma,arial; COLOR: black; TEXT-DECORATION: underline
}
.norm {
	FONT: 15px 'lucia console',verdana,tahoma
}
.uber3 {
	FONT: 12px tahoma,verdana,arial
}
.klein {
	FONT: 10px verdana,tahoma,arial
}
.krat {
	FONT: bold 11px tahoma,verdana,arial; COLOR: #0000cc
}
